.textArea {
  resize: none;
}
.input-group-text {
  background-color: #7ac143 !important;
  color: white !important;
}

.mainDiv {
  width: auto;
  height: auto;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
   margin: auto;
   padding: 2px;
}

.tarkib {
  display: flex;
}

.buttonAdmin {
  background-color: #7ac143;
  color: white;
}

