.cartProdImg{
    max-width: 80px;
}
.prodBtn{
    width: auto;
    height: auto;
    border-radius: 5px;
    background-color: #7ac143;
    cursor: pointer;
}
.btns{
    display: grid;
    grid-template-columns: 30px 30px 30px;
    column-gap: 5px;
}