@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

header, .main_div{
    margin: 0 8%;
}
header{
    background-color: white;
    width: 100vw;
    padding: 0 100px;
}
select{
    border: none;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.middle-part ul {
    display: flex;
    align-items: center;
}

.middle-part ul li a {
    text-decoration: none;
    margin: 0 15px;
    color: black;

}

.middle-part ul li {
    list-style-type: none;
}

.right-part {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.right-part a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.left-part span,
.right-part span {
    margin-right: 6px;
}

.search {
    display: flex;
    align-items: center;
   
    box-shadow: 0 0 2px black;
    margin-right: 120px;
}

.search span i {
    background:var(--main-color);
    width: 100%;
    height: 100%;
    padding: 8px;
}

.search input {
    padding: 8px;
    border: none;
    outline: none;
    margin-right:90px;
}
.lists{
    display: flex;
    align-items: center;
    
}
.lists a{
    margin-top:0;
    margin-bottom: 0;
    margin-right:60px;
   text-decoration: none;
   color: black;
   font-size:14px;
}
.number_adress{
    display: block;
}
button, .btn{
    border:none;
    border-radius: 3px;
    background-color: #7ac143 ;
    color:#fff;
    padding:10px;
}
.btn{
 margin:2% 40%;
 width:auto;
}
.img_text img{
    height: 400px;
    width: 700px;
    margin:0 20%;
    position: static;
}
button i{
    margin-left:5px;
}
.footer {
    background-color: #f4f4f4;
    padding: 60px 0 35px 0;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.ikonka {
    display: flex;
    align-items: center;
    font-size: 16px;;
}

.ikonka i,
.ikonka p {
    font-size: 16px;

}

.ikonka p span {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.ikonka i:first-child {
    margin-right: 5px;
}

.ikonka i {
    color:green;
    
}

.ikki{
    margin:2% 0;
} 