.tarif, .tarkib {
  color: rgb(193, 180, 180);
  padding: 3px;
}


.cardImg img {
  width: 60vh;
  height: 30vw;
  object-fit: cover;
  background-color: black;
}
.tavsif {
  font-size: 25px;
  font-weight: 600;
}
.qoshuvAyiruv {
  display: flex;
  justify-content:flex-end;

  width: 100%;
}
.ayiruv {
  background-color: red;
  width: 40px;
  border-radius: 10px;
  height: 40px;
  position: relative;
  padding: 2px;
  font-size: 900;
}

.buttomCard {
  width: 40px;
  border-radius: 10px;
  height: 40px;
  position: relative;
  padding: 2px;
}
.priceProduct {
 color: gray;
  font-size: 20px;
}

.maxsulotMiqdori {
  background-color: rgb(202, 200, 200);
  width: auto;
  min-width: 10%;
  border-radius: 5px;
  height: 40px;
  padding-top: 5px;
  text-align: center;
  margin: 0 5px 0px 5px;
}
.maxsulotNomi{
   font-size: 30px;   
}

.dona{
    font-size: 15px;
    padding: 5px
}

.oziqlanishDiv{
    display: flex;
    justify-content: space-around;
}

.left{
    width: 20%;
    height: 10%;
    border-radius: 15px;
    background-color: whitesmoke;
    padding: 10px;
    margin: 10px;
}

.priceCount{
    font-weight: 900;
    color: black;
}
.oziqlanishQiymati{
  display: flex;
  flex-wrap: wrap;
}
.maxsulotTarkibi{
    
    font-size: 40px;
}