body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f4f4f4;
    /* background: linear-gradient(to right, white,rgb(207, 207, 207), aliceblue); */
}
.head_p{
    font-size: 20px;
    font-weight: 600;
}
.btn-success{
    background-color: #7Ac143 !important;
    border-color: #7Ac143;
}
.reg{
    width: auto;
    margin: 10px;
    padding: 25px 40px 40px;
    border: 0px solid gray;
    border-radius: 5px;
    background-color: white;
}
/* .col-6{
    display: grid;
    grid-template-columns: 100px max-content;
    column-gap: 5px;
} */
.form-control{
    box-shadow:inset 2px 2px 0 gainsboro;
}
.pCheck{
    color: red;
}
.modal{
    display: none;
}
a{
    text-decoration: none;
    color: black;
}