.logo {
    margin-right: 150px;
}

li {
    color: green;
}

p {
    color: rgb(86, 82, 82);
}

.murojat ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 250px;
    margin-top: -25px;
}

#filterByRequeast {
    margin-top: 20px;
    margin-left: 200px;
    border-color: white;
    color: green;
}

ul>li {
    margin: 0 10px;
}

.none {
    list-style: none;
    text-decoration: none;
}

form {
    margin-left: 195px;
}

form>input {
    width: 350px !important;
}

.button {
    width: 45px !important;
    background-color: green !important;
}

.button>.search {
    color: white;
    width: 20px;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
}

/* .header-top-user-block{
    list-style: none;
    text-decoration: none;
} */
.header-top-right-block {
    margin-left: 70%;
    margin-top: -4%;
    list-style: none;
    text-decoration: none;
}

#tilOzgartirish {
    border-color: white;
    margin-left: 50px;
    padding-top: -250px;
    color: green;
}


.header-cart {
    list-style: none;
    text-decoration: none;
    color: black;
}

.header-top-user-block>a {
    color: black;
    list-style: none;
    text-decoration: none;
}


.owl-item {
    min-height: 1px;
    float: left;
}

/* Footer */

