:root {
    --main-color: rgb(47, 186, 47);
    --main-font: Poppins;
    --main-font:15px;
}

@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@500&family=Lobster&family=Montserrat:wght@500&family=Poppins:wght@400;500&family=Roboto:wght@300;500&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.single-card {
    border: 1px solid #e7e7e7;
    padding: 0 10px 10px 10px;
    margin: 10px;
    width: 255px;
    height: 355px;
    display: relative;
}

.single-card .image {
    margin-top: 5px;
    height: 140px;
    display: block;
    max-width: 100%;
    display: absolute;
}

@media (max-width: 960px){
    .Top,
    .MBrand,
    .Molochnaya,
    .Futbol {
        display: flex;
        margin: 10%;
        overflow: scroll;
    }
    .swiper{
        width: 80vw;
    }
}

.Top,
.MBrand,
.Molochnaya,
.Futbol {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10%;
    overflow: auto;
}
/* 
.single-card {
    border: 1px solid #ddd;
    border-radius: 10px;
} */

.card-body .card-text {
    font: 14px sans-serif;
}

.price {
    font-size: 18px;
    font-weight: bold;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position:relative; */
}

.qoshish {
    background-color: #7ac143;
    font-size: 16px;
    font-weight: normal;
}

h1 {
    margin-left: 50px;
    margin-bottom: 100px;
}

/* new file code */
header, .main_div{
    margin: 0 8%;
}
select{
    border: none;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.middle-part ul {
    display: flex;
    align-items: center;
}

.middle-part ul li a {
    text-decoration: none;
    margin: 0 15px;
    color: black;

}

.middle-part ul li {
    list-style-type: none;
}

.right-part {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.right-part a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.left-part span,
.right-part span {
    margin-right: 6px;
}

.search {
    display: flex;
    align-items: center;
   
    box-shadow: 0 0 2px black;
    margin-right: 120px;
}

.search span i {
    background:var(--main-color);
    width: 100%;
    height: 100%;
    padding: 8px;
}

.search input {
    padding: 8px;
    border: none;
    outline: none;
    margin-right:90px;
}
.lists{
    display: flex;
    align-items: center;
    
}
.lists a{
    margin-top:0;
    margin-bottom: 0;
    margin-right:60px;
   text-decoration: none;
   color: black;
   font-size:14px;
}
.number_adress{
    display: block;
}
button, .btn{
    border:none;
    border-radius: 3px;
    background-color:var(--main-color) ;
    color:#fff;
    padding:10px;
}
.btn{
 margin:2% 40%;
 width:15%;
}
.img_text img{
    height: 400px;
    width: 700px;
    margin:0 20%;
    position: static;
}
button i{
    margin-left:5px;
}
.footer {
    background-color: #f4f4f4;
    padding: 60px 0 35px 0;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.ikonka {
    display: flex;
    align-items: center;
    font-size: 16px;;
}

.ikonka i,
.ikonka p {
    font-size: 16px;

}

.ikonka p span {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.ikonka i:first-child {
    margin-right: 5px;
}

.ikonka i {
    color:green;
    
}

.ikki{
    margin:2% 0;
} 



/* swiper style from  here */


body {
  
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
#main2{
    display: none;
    flex-wrap: wrap;
}
.swiper {
  max-width: 100%;
  max-height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 80%;
  height: 80%;
  object-fit: cover;
  margin-top: 5%;
}
/* Slider css end */

.brendlar{
    display: flex;
    margin:10%;
    overflow: scroll;
}
.brendlar img{
    height: 180px;
    width: 180px;
    padding:10px;
}
.brendlar .card-images{
    border: 1px solid #ddd;
    /* box-shadow: 0 0 3px black; */
    border-radius: 5px;
    margin:0 15px;
}


/* Footer css beginning */

.footer {
    background-color: #f4f4f4;
    padding: 60px 0 35px 0;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.footer-payment-block {
    padding-top: 10px;
}

.footer-block-menu-link {
    list-style: none;
    text-decoration: none;
    color: black;
}

.footer-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.footer-support>a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.footer-payment-block img {
    width: 100px;
    height: 70px;
}

.icons {
    font-size: 50px;
    /* background-color: green; */
    color: green;
}


.div {
    background-color: green;
    font-size: 40px;
    /* padding: 5px; */
    border-radius: 50%;
    height: 50px;
    width: 50px;
    /* margin-top: 20px; */
    text-align: center;
}

.footer-bottom {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 50px;
    justify-content: space-between;
    color: white;
}

.fa-chevron-up {
    display: flex;
    position: absolute;
    color: white;
    top: 65px;
    right: 8px;
}

.app_links {
    margin-left: 5px;
    width: 100px;
}

.footer-block-menu {
    /* text-decoration: none; */
    list-style: none;
}

.footer-block-menu-item {
    text-decoration: none;
    /* list-style: none; */
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
}

.main-slider-item img {
    height: 100%;
    /* width: auto!important; */
    width: 1100px;
    margin-left: 120px;
    position: inherit;
    max-width: unset !important;
}

img {
    vertical-align: middle;
    border-style: none;
}

.footer-block-menu-item {
    padding-top: 20px;
    margin-left: -35px;
}

.footer-block-menu-link:hover {
    color: green;
    transition: all .5s ease-out;
}
.three_divs{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.block_informations,.prices{
    margin:10px;
    border-top: qpx solid black;
}
.block_informations p span i{
    margin-right:10px;
    font-size: 15px;
}
.block_informations p{
    font-size: 15px;
    padding:10px;
    margin:0px;
   
}
.block_informations p.active{
    background-color: var(--main-color);
}
.block_informations p:hover{
    background-color: var(--main-color);
    opacity: 0.5;
}
.prices .Cart-icon{
    font-size:45px;
    color: var(--main-color);
}
/* footer css end */